* {
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #2c2c2c;
}

.dato8 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato9 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato10 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.dato11 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato12 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato13 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.dato14 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato15 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato16 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.dato17 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato18 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato19 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.dato20 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato21 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato22 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.dato23 {
  width: 137px;
  position: absolute;
  top: 10px;
  left: 101px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.dato24 {
  width: 52px;
  position: absolute;
  top: 55px;
  left: 142px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.dato25 {
  width: 140px;
  position: absolute;
  top: 55px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.stake1 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 161px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake2 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 291px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake3 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 421px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake4 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 551px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake5 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 681px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake6 {
  position: absolute;
  width: 405px;
  height: 100px;
  left: 1445px;
  top: 811px;
  background: #7c7c7c;
  border-radius: 30px;
}

.stake-check {
  width: 80px;
  height: 80px;
  background: #d2d2d2;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 30px;
}

.audit {
  position: absolute;
  width: 245px;
  height: 35px;
  left: 85px;
  top: 337px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  display: flex;
  align-items: center;
}

/* Barra lateral Izquierda (Dashboard General)*/
.dashboard {
  position: absolute;
  width: 365px;
  height: 1080px;
  left: 0px;
  top: 1px;

  /* Gris Thunder Caja */
  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);

  /* Thunder Caja */
  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
}

.logo-dashboard {
  background-image: url(./images/logo.png);
  position: absolute;
  height: 71px;
  width: 306.98px;
  left: 35px;
  right: 82.19%;
  top: 100px;
}

.logos-dashboard {
  position: absolute;
  width: 36px;
  height: 283px;
  left: 34px;
  top: 237px;
}

.home-logo {
  
}

.home {
  width: 245px;
  position: absolute;
  top: 237px;
  left: 85px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  opacity: 1;
  text-align: left;
}

.lottery {
  width: 245px;
  position: absolute;
  top: 287px;
  left: 85px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.support {
  width: 245px;
  position: absolute;
  top: 387px;
  left: 85px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.presentation {
  width: 245px;
  position: absolute;
  top: 437px;
  left: 85px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.connect-wallet-block {
  position: absolute;
  width: 295px;
  height: 90px;
  left: 35px;
  top: 918px;

  /* Botón Thunder */
  background: linear-gradient(
    96.38deg,
    #ffca1c -9.44%,
    rgba(226, 176, 12, 0.994792) 110.91%
  );
  /* Thunder Caja */
  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.connect-wallet-logo {
  background-image: url(./images/connect-wallet-dashboard.png);
}

.primary {
  background-color: Transparent;
  padding-left: 74px;
  padding-top: 32px;
  color: #2e2e2e;
}

.input-group-btn {
  padding-left: 1800px;
}

/* Contract address style */

.address-block {
  position: absolute;
  width: 975px;
  height: 202px;
  left: 400px;
  top: 35px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.contract-address {
  position: absolute;
  width: 268px;
  height: 45px;
  left: 435px;
  top: 68px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */
  display: flex;
  align-items: center;
}

.dato6-block {
  position: absolute;
  width: 405px;
  height: 68px;
  left: 435px;
  top: 129px;
  border: 4px solid #ffca1c;
  box-sizing: border-box;
  border-radius: 20px;
}

.dato6 {
  position: absolute;
  width: 315px;
  height: 33px;
  left: 15px;
  top: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  display: flex;
  align-items: center;
}

.contract-address-logo {
  background-image: url(./images/contract-address.png);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 345px;
  top: 11px;
}

.address1 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 910px;
  top: 80px;
}

.total-balance {
  width: 276px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.contract-balance {
  width: 185px;
  position: absolute;
  top: 0px;
  left: 220px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

.address2 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 910px;
  top: 152px;
}

.total-staked {
  width: 187px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.dato1 {
  width: 185px;
  position: absolute;
  top: 0px;
  left: 220px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

/* Plan styles */
.plan-block {
  position: absolute;
  width: 475px;
  height: 771px;
  left: 400px;
  top: 272px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.plan {
  width: 200px;
  position: absolute;
  top: 293px;
  left: 435px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}

.plan1 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 435px;
  top: 397px;
}

.daily-profit {
  width: 163px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.profit-number {
  width: 97px;
  position: absolute;
  top: 0px;
  left: 308px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

.plan2 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 435px;
  top: 444px;
}

.total-return {
  width: 163px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.dato2 {
  width: 97px;
  position: absolute;
  top: 0px;
  left: 308px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

.plan3 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 435px;
  top: 491px;
}

.days {
  width: 163px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.dato3 {
  width: 97px;
  position: absolute;
  top: 0px;
  left: 308px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

.plan4 {
  position: absolute;
  width: 405px;
  height: 18px;
  left: 435px;
  top: 538px;
}

.withdraw-time {
  width: 178px;
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.every-time {
  width: 183px;
  position: absolute;
  top: 0px;
  left: 222px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}

.enter-ammount {
  width: 316px;
  position: absolute;
  top: 612px;
  left: 475px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.input-value {
  position: absolute;
  width: 316px;
  height: 78px;
  left: 475px;
  top: 668px;
  border: 4px solid #ffca1c;
  box-sizing: border-box;
  border-radius: 20px;

  text-align: center;
  background-color: Transparent;
}

.min-tt {
  width: 403px;
  position: absolute;
  top: 746px;
  left: 437px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.max-tt {
  width: 403px;
  position: absolute;
  top: 776px;
  left: 437px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.dato5 {
  width: 405px;
  position: absolute;
  top: 846px;
  left: 435px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.dato4 {
  width: 205px;
  position: absolute;
  top: 872px;
  left: 535px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.stake {
  position: absolute;
  width: 194px;
  height: 55px;
  left: 541px;
  top: 952px;

  /* Botón Thunder */

  background: linear-gradient(
    96.38deg,
    #ffca1c -9.44%,
    rgba(226, 176, 12, 0.994792) 110.91%
  );
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 40px;
  color: #2e2e2e;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
}

/* Data for total staked and total deposits */

.data-block {
  position: absolute;
  width: 465px;
  height: 192px;
  left: 910px;
  top: 272px;

  /* Thunder Caja */

  filter: drop-shadow(-15px -15px 100px rgba(88, 88, 88, 0.25)),
    drop-shadow(15px 15px 50px rgba(11, 11, 11, 0.25));
}

.data1 {
  position: absolute;
  width: 220px;
  height: 192px;
  left: 910px;
  top: 272px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  border-radius: 30px;
}

.data2 {
  position: absolute;
  width: 220px;
  height: 192px;
  left: 1155px;
  top: 272px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  border-radius: 30px;
}

.data-numbers {
  position: absolute;
  width: 465px;
  height: 49px;
  left: 910px;
  top: 375px;
}

.your-total-staked {
  width: 220px;
  position: relative;
  top: 0px;
  left: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.dato27 {
  width: 220px;
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.total-deposits {
  width: 220px;
  position: absolute;
  top: 0px;
  left: 245px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.dato26 {
  width: 220px;
  position: absolute;
  top: 32px;
  left: 245px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

/* Data withdraw */

.withdraw-block {
  position: absolute;
  width: 465px;
  height: 121px;
  left: 910px;
  top: 499px;

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.data-withdraw-block {
  position: absolute;
  width: 218px;
  height: 57px;
  left: 930px;
  top: 522px;
}

.total-withdraw {
  width: 218px;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.dato7 {
  width: 218px;
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.withdraw-button {
  position: absolute;
  width: 194px;
  height: 55px;
  left: 1161px;
  top: 534px;

  /* Botón Thunder */

  background: linear-gradient(
    96.38deg,
    #ffca1c -9.44%,
    rgba(226, 176, 12, 0.994792) 110.91%
  );
  border-radius: 40px;
}

.withdraw {
  width: 118px;
  position: absolute;
  top: 8px;
  left: 38px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

/* Agregado Idea Friendly, mascota*/

.idea-block {
  position: absolute;
  width: 465px;
  height: 388px;
  left: 910px;
  top: 655px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.pinguino-logo {
  background-image: url(./images/pinguino-logo.png);
  position: absolute;
  width: 293px;
  height: 419px;
  left: 1130px;
  top: 693px;
}

.idea {
  width: 364px;
  position: absolute;
  top: 816px;
  left: 963px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.stakes-block {
  position: absolute;
  width: 475px;
  height: 1010px;
  left: 1410px;
  top: 35px;

  /* Gris Thunder Caja */

  background: linear-gradient(151.17deg, #636363 -7.23%, #3e3e3e 107.43%);
  /* Thunder Caja */

  box-shadow: -15px -15px 100px rgba(88, 88, 88, 0.25),
    15px 15px 50px rgba(11, 11, 11, 0.25);
  border-radius: 30px;
}

.my-stakes {
  width: 255px;
  position: absolute;
  top: 72px;
  left: 1445px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
